services:

  kafka:
    image: apache/kafka:4.1.1
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"     # Port for Kafka broker
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: true
      CLUSTER_ID: dungeon-walker-kafka-cluster
    networks:
      - dungeon-walker-network

  # After starting the container for the first time (with no volume), in the "dungeon-walker-docker" folder, run:
  # docker exec -i postgres-db psql -U postgres -t < ddl-scripts/create_tables_postgres.sql
  
  postgres-db:
    image: postgres:18-alpine
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ 'CMD', 'pg_isready', "-q", "-d", "postgres", "-U", "postgres" ]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 5s
    volumes:
      - ./ddl-scripts:/docker-entrypoint-initdb.d
    networks:
      - dungeon-walker-network

  # To create this container's image, go to the folder where this project is located and run:
  # mvn clean install jib:dockerBuild -DskipTests

  dungeon-walker-engine:
    image: alejoceballos/dungeon-walker-engine:v1
    container_name: dungeon-walker-engine
    ports:
      - "8081:8081"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: postgres-db
      POSTGRES_PORT: 5432
      KAFKA_BOOTSTRAP_SERVER: kafka:29092
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_KAFKA: WARN
      LOGGING_DW_STARTUP: DEBUG
      LOGGING_DW_TRANSPORT: DEBUG
      LOGGING_DW_CORE: DEBUG
      LOGGING_DW_DOMAIN: DEBUG
    networks:
      - dungeon-walker-network
    depends_on:
      - kafka
      - postgres-db

  # To create this container's image, go to the folder where this project is located and run:
  # mvn clean install jib:dockerBuild -DskipTests

  dungeon-walker-ws-server:
    image: alejoceballos/dungeon-walker-ws-server:v1
    container_name: dungeon-walker-ws-server
    ports:
      - "8080:8080"
    environment:
      KAFKA_BOOTSTRAP_SERVER: kafka:29092
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_KAFKA: WARN
      LOGGING_DW_STARTUP: DEBUG
      LOGGING_DW_TRANSPORT: DEBUG
      LOGGING_DW_CORE: DEBUG
      LOGGING_DW_DOMAIN: DEBUG
    networks:
      - dungeon-walker-network
    depends_on:
      - dungeon-walker-engine

networks:
  dungeon-walker-network:
    driver: bridge