services:

  kafka:
    image: apache/kafka:4.1.1
    container_name: kafka
    ports:
      - "9092:9092"     # Port for Kafka broker

  # After starting the container for the first time (with no volume), in the "dungeon-walker-docker" folder, run:
  # docker exec -i postgres-db psql -U postgres -t < ddl-scripts/create_tables_postgres.sql
  postgres-db:
    image: postgres:18-alpine
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ 'CMD', 'pg_isready', "-q", "-d", "postgres", "-U", "postgres" ]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 5s

  # To create this container's image, go to the folder where this project is located and run:
  # mvn clean install jib:dockerBuild -DskipTests
  dungeon-walker-ws-server:
    image: alejoceballos/dungeon-walker-ws-server:v1
    container_name: dungeon-walker-ws-server
    ports:
      - "8080:8080"

  # To create this container's image, go to the folder where this project is located and run:
  # mvn clean install jib:dockerBuild -DskipTests
  dungeon-walker-engine:
    image: alejoceballos/dungeon-walker-engine:v1
    container_name: dungeon-walker-engine
    ports:
      - "8081:8081"
