#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

table.dungeon-grid {
    border-spacing: 0;
    min-width: max-content;
}

table.dungeon-grid th,
table.dungeon-grid td {
    box-sizing: border-box;
    text-align: center;
}

table.dungeon-grid th,
table.dungeon-grid td,
table.dungeon-grid div {
    width: 64px;
    height: 64px;
}