body {
    height: 100%;
    margin: 0;
}

div.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.dungeon-wrapper {
    flex: 0 0 70%;
}

div.messages-wrapper {
    overflow-y: auto;
    flex: 0 1 auto;
}